{% block stylesheets %}    

    {% stylesheets 'bundles/zenfiles/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}   


{% block content %}

    <div class="container-fixed no-padding">
        <div class="col-xs-12">
            <div class="col-md-12 col-lg-12 no-padding">
                {% include 'ZENFilesBundle::block-manage-photo.html.twig' %}
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

{% endblock %}

{% block js %}    

    {% javascripts 'bundles/zenfiles/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
